#####################################################################
#                   srsUE configuration file
#####################################################################
# RF configuration
#
# dl_freq: Downlink centre frequency (Hz).
# ul_freq: Uplink centre frequency (Hz).
# tx_gain: Transmit gain (dB). 
# rx_gain: Optional receive gain (dB). Disables AGC if enabled
#
# Optional parameters: 
# device_name:        Device driver family. Supported options: "auto" (uses first found), "UHD" or "bladeRF" 
# device_args:        Arguments for the device driver. Options are "auto" or any string. 
#                     Default for UHD: "recv_frame_size=9232,send_frame_size=9232"
#                     Default for bladeRF: ""
# #time_adv_nsamples: Transmission time advance (in number of samples) to compensate for RF delay 
#                     from antenna to timestamp insertion. 
#                     Default "auto". B210 USRP: 100 samples, bladeRF: 27.
# burst_preamble_us:  Preamble length to transmit before start of burst. 
#                     Default "auto". B210 USRP: 400 us, bladeRF: 0 us. 
#####################################################################
[rf]
dl_freq = 2680000000
ul_freq = 2560000000
tx_gain = 70

#device_name = auto
#device_args = auto
#time_adv_nsamples = auto
#burst_preamble_us = auto


#####################################################################
# MAC-layer packet capture configuration
#
# Packets are captured to file in the compact format decoded by 
# the Wireshark mac-lte-framed dissector. For more information see:
# https://wiki.wireshark.org/MAC-LTE
#
# enable:   Enable MAC layer packet captures (true/false)
# filename: File path to use for packet captures
#####################################################################
[pcap]
enable = false
filename = /tmp/ue.pcap

#####################################################################
# Log configuration
#
# Log levels can be set for individual layers. "all_level" sets log
# level for all layers unless otherwise configured.
# Format: e.g. phy_level = info
#
# In the same way, packet hex dumps can be limited for each level.
# "all_hex_limit" sets the hex limit for all layers unless otherwise
# configured.
# Format: e.g. phy_hex_limit = 32
#
# Logging layers: phy, mac, rlc, pdcp, rrc, nas, gw, usim, all
# Logging levels: debug, info, warning, error, none
#
# filename: File path to use for log output
#####################################################################
[log]
phy_level = info
all_level = warning
all_hex_limit = 32
filename = /tmp/ue.log

#####################################################################
# USIM configuration
#
# algo: Authentication algorithm (xor/milenage)
# op:   128-bit Operator Variant Algorithm Configuration Field (hex)
# amf:  16-bit Authentication Management Field (hex)
# k:    128-bit subscriber key (hex)
# imsi: 15 digit International Mobile Subscriber Identity
# imei: 15 digit International Mobile Station Equipment Identity
#####################################################################
[usim]
algo = milenage
op   = 63BFA50EE6523365FF14C1F45F88737D
amf  = 8000
k    = 00112233445566778899aabbccddeeff
imsi = 001010123456789
imei = 353490069873319

#####################################################################
# Expert configuration options
#
# prach_gain:           PRACH gain (dB). If positive, disables power control 
#                       and fixes PRACH tx gain.
# ul_gain:              Uplink gain (dB). If positive, disables power control
#                       and fixes PUSCH/PUCCH/SRS tx gain.
# ul_pwr_ctrl_offset:   Uplink power control offset (dB). Adds an offset
#                       to all UL gains calculated by power control.
# rx_gain_offset:       Receive gain offset (dB). Defines the default receiver
#                       chain gain used to compute UL power control values if
#                       RSSI sensor not found. Uses rx gain by default.
# pdsch_max_its:        Maximum number of turbo decoder iterations (default 4)
# sync_track_th:        Peak-to-sidelobe ratio (PSR) threshold for PSS correlation 
#                       in track phase
# sync_track_avg_coef:  Exponential averaging coefficient for PSS correlation in track phase
# sync_find_th:         PSR threshold for PSS correlation in find phase
# sync_find_max_frames: Maximum number of frames scanned during cell find phase
# enable_64qam_attach:  Enables PUSCH 64QAM modulation before attachment (Necessary for old 
#                        Amarisoft LTE 100 eNodeB, disabled by default)
# continuous_tx:        Enable/disable continuous transmission mode (true/false)
#                        Default disabled.
# nof_phy_threads:      Selects the number of PHY threads (maximum 4, minimum 1, default 2)
#
# equalizer_mode:       Selects equalizer mode. Valid modes are: "mmse", "zf" or any 
#                       non-negative real number to indicate a regularized zf coefficient.
#                       Default is zf. 
#
#####################################################################
[expert]
#prach_gain = 60
#ul_gain = 70
#ul_pwr_ctrl_offset = 0
#rx_gain_offset = 50
#pdsch_max_its       = 4
#sync_track_th       = 1.3 # must be > 1
#sync_track_avg_coef = 0.1 # must be 0..1
#sync_find_th         = 1.6
#sync_find_max_frames = 100
#enable_64qam_attach = false
#continuous_tx = false
#nof_phy_threads = 2
#equalizer_mode = mmse



#####################################################################
# Manual RF calibration
#
# Applies DC offset and IQ imbalance to TX and RX modules. 
# Currently this configuration is only used if the detected device is a bladeRF
#
# tx_corr_dc_gain: TX DC offset gain correction
# tx_corr_dc_phase: TX DC offset phase correction
# tx_corr_iq_i: TX IQ imbalance inphase correction
# tx_corr_iq_q: TX IQ imbalance quadrature correction
# same can be configured for rx_*
#####################################################################
[rf_calibration]
tx_corr_dc_gain = 20
tx_corr_dc_phase = 184
tx_corr_iq_i = 19
tx_corr_iq_q = 97
